*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: inline-block;
}