/**** DEFAULT STYLES ****/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: inline-block;
}
/**** END DEFAULTS ****/

main {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


.clock {
    height: 750px;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}
